body
{
    margin:0;
}

main
{
    background-color: #ffffff;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;

}

header
{
    display: flex;
  flex-direction: row; 
  justify-content: center; 
  align-items: center;
  
  border: 5px solid purple;
}
nav 
{

    margin: 0;
    padding: 10px;

    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;

    background-color: purple;
}

ul
{
    display: flex;
    list-style: none;
}

li
{
    margin: 5px;

}

article
{
   min-height: 380px;
  
  border: 3px solid black;
  border-radius: 3%;


  background-image: linear-gradient(to top, rgb(252, 76, 252), rgb(128, 1, 128));
    
}

form
{
    display: flex;
   flex-direction: column; 
   justify-content: space-between; 
   align-items: center;
   list-style: none;

   margin: 30px;
}

label
{
    padding: 5px
}



footer
{
  border: 5px solid purple;

  text-align: right;

  background: yellow;
}
p
{

  font-family:'Courier New', Courier, monospace;

  border-top: 5px solid rgb(255, 0, 0);

  border-bottom: 5px solid rgb(255, 0, 0);

  min-height: 50px;


}
